In [1]:
# Q1.

# SQL databases are relational, and NoSQL databases are non-relational.
# SQL databases use structured query language (SQL) and have a predefined schema. 
# NoSQL databases have dynamic schemas for unstructured data.
# SQL databases are vertically scalable, while NoSQL databases are horizontally scalable.
# SQL databases are table-based, while NoSQL databases are document, key-value, graph, or wide-column stores.
# SQL databases are better for multi-row transactions, 
# while NoSQL is better for unstructured data like documents or JSON.

In [2]:
# Q2.

# The DDL Commands in Structured Query Language are used to create and modify the schema of the database and 
# its objects. The syntax of DDL commands is predefined for describing the data. 

# 1. Create :
#     CREATE is a DDL command used to create databases, tables, triggers and other database objects.
#     Syntax : CREATE DATABASE database_name;
#     CREATE TABLE table_name    
#     (  
#     column_Name1 data_type ( size of the column ) ,    
#     column_Name2 data_type ( size of the column) ,    
#     column_Name3 data_type ( size of the column) ,    
#     ...    
#     column_NameN data_type ( size of the column )  
#     ) ;   
# 2. Drop : 
#     DROP is a DDL command used to delete/remove the database objects from the SQL database. We can easily remove 
#     the entire table, view, or index from the database using this DDL command.
#     Syntax : 
#         DROP DATABASE Database_Name;  
# 3. Alter :
#     ALTER is a DDL command which changes or modifies the existing structure of the database, and it also changes 
#     the schema of database objects.
#     Syntax : ALTER TABLE name_of_table ADD column_name column_definition; 
    
# 4. Truncate :
#     TRUNCATE is another DDL command which deletes or removes all the records from the table.
#     Syntax : TRUNCATE TABLE Table_Name;

In [3]:
# Q3.

# DML is an abbreviation of Data Manipulation Language. The DML commands in Structured Query Language change the 
# data present in the SQL database. We can easily access, store, modify, update and delete the existing records 
# from the database using DML commands.

# 1. Insert : 
#     Insert command is used to insert data into a table.
#     Syntax : Insert into <table_name> (column list) values (column values);
# 2. Update : 
#     Update command is used to update existing data within a table.
#     Syntax : UPDATE <table_name> SET column_number =value_number WHERE condition;
# 3. Delete :
#     Delete command is used to delete records from a database table.
#     Syntax :  Delete from <table_name>WHERE condition;

In [4]:
# Q4.

# DQL or Data Query Language is a portion of a SQL statement that allows you to get and organise data from
# a database.

# Select : 
#     The SELECT command is used in Data Query Language Command to select data.
#     Syntax : SELECT column1, column2, ... , column n FROM table_name;

In [5]:
# Q5.

# Primary Key :
#     A primary key is used to ensure data in the specific column is unique. 
# Foreign Key :
#     A foreign key is a column or group of columns in a relational database table that provides a link between 
#     data in two tables.

In [6]:
# Q6.

# Python Code to connect MySQL to Python :
    
#     import mysql.connector
    
#     conn = mysql.connector.connect(
#         host = 'localhost',
#         user = 'root',
#         password = 'admin'
#     )
    
# Cursor() : 
#     The MySQLCursor of mysql-connector-python  is used to execute statements to communicate with the MySQL database.
    
# execute() :
#     The execute() method is used to execute the query thrugh python.

In [ ]:
# Q7.

Order of execution of SQL queries :
    FROM